* {
  box-sizing: border-box;
  margin: 0;
}

.container{
  position: relative;
  background-size: cover;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

#berlin{
  background-image: url('img/berlin.jpg');
  opacity: 0.8;
}

#new_york{
  background-image: url('img/new_york.jpg');
  opacity: 0.8;
  margin-top: 4px;
  margin-bottom: 4px;
}

#tokyo{
  background-image: url('img/tokyo.jpg');
  opacity: 0.8;
}

.container > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-weight: bold;
}
